*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hero Section */
.hero {
    min-height: 80vh;
    width: 100%;
    padding-top: 50px;
    justify-content: center;
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
}

.hero .hero-info {
    width: 100%;
    text-align: center;
}

.hero .hero-info .hero-info-heading {
    font-size: 5rem;
    font-weight: 500;
    color: whitesmoke;
}

.hero .hero-info .hero-info-subheading {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: whitesmoke;
}

.hero .hero-info .hero-info-button {
    margin-top: 30px;
    padding: 2rem 5rem;
    display: inline-block;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    letter-spacing: .6rem;
    background-color: rgba(85,85,85, 0.534);
    cursor: pointer;
    transition: 1s;
}

.hero .hero-info .hero-info-button:hover {
    background-color: #c90949;
}

.hero .hero-img {
    height: auto;
    width: 80%;
    margin-bottom: 3rem;
}

.hero .hero-img img {
    height: 100%;
    width: 100%;
}
/* End Hero Section */

/* About Section */
.about {
    width: 100%;
    min-width: 50vh;
    padding: 10rem 5rem;
    flex-direction: column;
}

.about .about-info {
    text-align: center;
}

.about .about-info .about-heading {
    font-size: 4rem;
    text-transform:uppercase;
    letter-spacing:.3rem;
    color: black;
}

.about .about-info .about-info-desc {
    font-size: 1.3rem;
    line-height: 2rem;
    margin-top: 10px;
}

.about .about-info .about-info-button {
    padding: 1.6rem 2.6rem;
    display: inline-block;
    background-color: rgba(0,0,0,0.548);
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 1s;
}

.about .about-info .about-info-button:hover {
    background-color: #c90949;
}

.about .about-img .about-img-wrapper {
    margin-top: 50px;
    height: auto;
    max-width: 400px;
    position: relative;
    display: inline-block;
}

.about .about-img .about-img-wrapper img {
    height: 100%;
    width: 100%;
}

.about .about-img .about-img-wrapper::after {
    position: absolute;
    content: '';
    right: -5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
    height: 120%;
    background-color: rgba(34,33,33, 0.158);
    z-index:-1;
}
/* End About Section */

/* Services Section */
.services {
    flex-direction: column;
    min-height: 60vh;
    padding: 10rem 5rem;
}

.services .services-header {
    width: 100%;
    text-align: center;
}

.services .services-header .services-header-heading {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

.services .services-header .services-header-desc {
    font-size: 1.3rem;
    line-height: 2rem;
    margin-top: 20px;
}

.services .services-info {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.services .services-info .service {
    width: 100%;
    min-height: 300px;
    position: relative;
    transition: .3s ease transform;
    margin: 5px;
}

.services .services-info .service .service-card {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: .3s ease transform;
    display: block;
}

.services .services-info .service .service-card .service-front,
.services .services-info .services .service-card .service-back {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.13);
    padding: 10px;
}

.services .services-info .services .service-card .service-back {
    transform: rotateY(180deg);
}

.services .services-info .service .service-card .service-front {
    font-size: 4rem;
    color: black;
    margin-bottom: 10px;
}

.services .services-info .service .service-card .service-front .service-front-heading,
.services .services-info .service .service-card .service-back .service-back-heading {
    font-size: 2.5rem;
    text-transform: capitalize;
}

.services .services-info .service:hover .service-card {
    transform: rotateY(180deg);
}

.services .services-info .service .service-card .service-back .service-back-desc {
    font-size: 1.3rem;
    margin-top: 10px;
    text-align: center;
}

.services .services-info .service:nth-child(2) .service-card .service-front {
    background-image: url(./img/cod.jpg);
    background-size: cover;
    position: relative;
    color: white;
}

.services .services-info .service:nth-child(2) .service-card .service-front::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.274);
    z-index: -1;
}

.services .services-info .service:nth-child(2) .service-card .service-front i{
    color: white;
}
/*End Services Section */